[submodule "vendor/bee_tab"]
	path = vendor/bee_tab
	url = https://github.com/beetutorial/bee_tab.git
[submodule "vendor/DAModularTableView"]
	path = vendor/DAModularTableView
	url = https://github.com/danielamitay/DAModularTableView.git
